<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
      <ion-icon name="add-circle-outline" size="large" slot="end" routerLink="/creation" routerDireciton="forward"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <!-- Ionic list -->
  <ion-list>
    <!-- Ionic items -->
    <ion-item>
      <ion-avatar>
        <img src="../../assets/avatar_general_human_office_person_icon.png">
      </ion-avatar>
      <ion-label>John</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="../../assets/avatar_general_human_office_person_icon.png">
      </ion-avatar>
      <ion-label>Mark</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
