<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Creation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Creation</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Ionic list -->
  <ion-list>
    <!-- Ionic items -->
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input slot="end"></ion-input>
    </ion-item>

    <!-- Date picker example -->
    <ion-item>
      <ion-label>Birthday</ion-label>
      <ion-datetime placeholder="select date" value="1990-01-01" slot="end"></ion-datetime>
    </ion-item>

    <!-- Select example -->
    <ion-item>
      <ion-label>Program</ion-label>
      <ion-select slot="end" interface="popover">
        <ion-select-option value="BUSG">Business</ion-select-option>
        <ion-select-option value="TRSM">Toruism</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- check box example -->
    <ion-item>
      <ion-label>Co-op</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

  </ion-list>

  <ion-button expand="block" routerLink="/home" routerDirection="back" >Save</ion-button>


</ion-content>
